{{#if addNewAnswer}}
<h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        {{input value=content id="content"}}
      </div>
      <button class="btn" {{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn" {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
